*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
h2{
    position: relative;
    font-size: 6em;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
 {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #fff;
        text-shadow: none;
    }  
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px white,
        0 0 40px white,
        0 0 80px white,
        0 0 160px white;
    }
}
#registerbtn{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    font-size: large;
    font-weight: bold;
    position: relative;
    background-color: black;
    color: rgb(255, 255, 255,0.25);
    z-index: 1;
    font-style: italic;
}
